// Variables
// navbar
$navbar-height: 80px;

// ## Typography
// Font size
$font-size: 14px;
$font-size-detail: 16px;

// Layout
// The designs were created to the following widths:
$mobile-width: 768px;
$desktop-width: 1440px;