@use "/src/app/styles/abstracts/mixin" as *;

.select{
    display: flex;
    justify-content: center;
    position: relative;
    width: 200px;
    height: 100%;
    z-index: 50;
    background-color: var(--primary);
    color: var(--text-color);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 8px var(--shadow-color);

    @include mobile{
        height: 60px;
        width: 60%;
    }

    .selectPlaceholder{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 30px 0 15px;
    }

    .selectBox{
        display: none;

        .selectOption{
            display: none;
        }


    }
    &:focus{
        .selectBox{
            border: none;
            list-style: none;
            padding: 5px 30px 5px 15px;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            overflow: hidden;
            position: absolute;
            flex-direction: column;
            height: 160px;
            justify-content: flex-start;
            padding: 0;
            top: 3.6rem;
            border-radius: 5px;

            @include mobile{
                top: 4rem;
            }

            .selectOption{
                display: block;
                width: 100%;
                height: 50px;
                background-color: var(--primary);
                color: var(--text-color);
                border: none;
                outline: none;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 3px 15px;

                &:hover{
                    background-color: var(--bg-color);
                }
            }
        }

    }

    

    .selectArrow{
        position: absolute;
        top: 15px;
        right: 15px;
    }

}