@use "/src/app/styles/abstracts/variables" as *;
@use "/src/app/styles/abstracts/mixin" as *;

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    width: 100%;
    height: calc(100vh - $navbar-height);
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 2rem 4rem;
    gap: 2rem;
    font-size: 14px;

    @include mobile{
        padding: 1.5rem 1rem;
    }

    .search{
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include mobile{
            flex-direction: column;
            align-items: flex-start;
            height: 225px;
            gap: 1rem;
        }

        .searchInput{
            height: 100%;
            width: 500px;
            background-color: var(--primary);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            box-shadow: 0 0 8px var(--shadow-color);

            @include mobile{
                height: 60px;
                width: 100%;
            }

            .searchIcon{
                width: 10%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: var(--secondary);

                @include mobile{
                    width: 20%;
                }
            }

            input{
                height: 100%;
                width: 85%;
                color: var(--secondary);
                background-color: var(--primary);
                border: none;
                outline: none;

                @include mobile{
                    flex: 1;
                    padding-right: 1rem;
                }
                

                &::placeholder{
                    color: var(--secondary);
                }
            }
        }


    }

    .countriesContainer{
        margin-left: 0;
        margin-right: 0;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 3rem;
        overflow-y: scroll;
        &::-webkit-scrollbar{
            width: 0;
        }

        @include mobile{
            gap: 2rem;
            padding: 0rem 2rem;
            align-items: center;
            justify-content: center;
        }
    }
}