@use "/src/app/styles/abstracts/variables" as *;
@use "/src/app/styles/abstracts/mixin" as *;

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $navbar-height;
    padding: 1rem 4rem;
    background-color: var(--primary);
    color: var(--text-color);
    box-shadow: 0 0 8px var(--shadow-color);

    @include mobile {
        padding: 0 1rem;
    }

    .left {
        h2 {

            @include mobile {
                font-size: 16px;
                font-weight: 800;
            }
        }
    }

    .right {
        .themeButton {
            width: 150px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: .3rem;
            font-family: inherit;
            border: none;
            outline: none;
            appearance: none;
            background-color: transparent;
            color: var(--text-color);
            font-weight: 300;
            cursor: pointer;

            @include mobile {
                font-size: 14px;
                font-weight: 300;
            }

            .themeIcon {
                width: 24px;
                height: 16px;
                font-size: 14px;
            }
        }

        
    }


}